@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Karla:wght@400;700&display=swap");
/* cabeçalho */

.App {
  font-family: "Karla";
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.header {
  display: flex;
  padding-left: 100px;
  background-color: white;
  justify-content: space-between;
  align-items: center;
}

.header__img {
  padding: 20px;

  max-width: 90px;
  max-height: 20px;
}
.header__button {
  padding-right: 80px;
  display: flex;
}
.header__button_one {
  background-color: white;
  color: #d3d3d3;
  border: none;
  transition-duration: 0.4s;
  margin: 5px;
}
.header__button_one:hover {
  background-color: #0000;
  color: black;
}
.header__button_two {
  background-color: white;
  color: #d3d3d3;
  border: none;
  transition-duration: 0.4s;
  margin: 5px;
}
.header__button_two:hover {
  background-color: #0000;
  color: black;
}
.header__button_tree {
  background-color: white;
  color: #d3d3d3;
  border: none;
  transition-duration: 0.4s;
  opacity: 0.9;
  margin: 5px;
}
.header__button_tree:hover {
  background-color: #0000;
  color: black;
}
.header__button_four {
  background-color: white;
  color: black;
  border: 2px solid black;
  padding: 10px 18px;
  transition-duration: 0.4s;
  margin: 5px;
}
.header__button_four:hover {
  background-color: black;
  color: white;
}

/* incio do body */

.card {
  display: flex;
  padding-left: 100px;
  background-color: hsl(256, 26%, 20%);
  width: 1800px;
}
.line {
  -webkit-transform: translate(0%, 2000%);
}
.card__text {
  display: block;
  padding-top: 10px;
}
.card__title {
  font-family: "DM Serif Display";
  font-size: 50px;
  font-weight: 400;
  color: hsl(0, 0%, 98%);
  margin-bottom: 0px;
}
.card__subtitle {
  font-family: "Karla", sans-serif;
  font-size: 16px;
  color: hsl(0, 0%, 98%);
}
.body__svg__left {
  max-width: 100%;
  transform: translate(0%, 30%);
  -webkit-transform: translate(0%, -40%);
}
.body__svg__right {
  transform: translate(0%, 10%);
  -webkit-transform: translate(78%, -169%);
}
.body_image {
  -o-object-fit: cover;
  object-fit: cover;
  max-width: 100%;

  transform: translate(93%, 25%);
}
.card__button {
  background-color: hsl(256, 26%, 20%);
  color: white;
  padding: 10px 18px;
  transition-duration: 0.4s;
  margin: 5px;
  border: solid 1px white;
  align-items: flex-start;
}
.card__button:hover {
  background-color: white;
  color: black;
}
.different {
  font-family: "DM Serif Display";
  font-weight: 400;
  margin-bottom: 10rem;
  padding: 1rem 10%;
  font-size: 1.5rem;
}
.different__h1 {
}
.different_gridcolumn {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
